layout: index
subtitle: HTML5 2d canvas library
description: Tuvalframework is a javascript framework focused on vector graphics.
comments: false
---

.intro-wrap
  div(style='width:100%;display: inline-block;')
    iframe(src="https://jsfiddle.net/tuvalframework/1pcs8j3a/show", frameborder="0", style='width:100%;height:300px;')
  .outer
    .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/graphics/en") Get Started

