<aside id="right_sidebar">
  <a class="twitter-timeline" data-width="400" href="https://twitter.com/tuvalframework?ref_src=twsrc%5Etfw">Tweets by tuvalframework</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</aside>

