<div id="banner">
  <div class="outer">
    <div class="inner">
      <h2 id="banner-title">Tuval Framework is a javascript framework focused on web graphics designed for software developers</h2>
      <div id="banner-getting-started">

      </div>

    </div>
  </div>
</div>

<%- page.content %>